
html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    font-size: 20px;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.header {
    width: 100%;
    background: #262b2b;
    padding: 1rem 0;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
}

.nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.nav a {
    color: white;
    text-decoration: none;
    margin: 2 1rem;
}

.hero {
    margin: 0;
    padding: 0;
    background: url(../img/torres.png) no-repeat center top;
    background-size: cover;
    font-family: sans-serif;
    height: 100vh;
     
    
}

.background-image {
    display: none;
}

.overlay {
    width: 520px;
    height: 720px;
    background: hsla(180, 6%, 16%, 0.927);
    
    color: #fff;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    padding: 140px 50px;
    justify-content: center;
    align-items: center;
}
.logo {
    width: 170px;
    height: auto;
    border-radius: 100%;
    position: relative;
    top: -10px;
    left: calc(40% - 50px);
}

.titulo {
    color: white;
    font-size: 68px;
    margin: 0;
    text-align: center;
  
}

.subtitulo {
    color: white;
    font-size: 20px;
    margin: 0;
    text-align: center;
}
/* seccion nosotros */
.intro {
    padding: 1rem;
    background-image: url(../img/2.png)
}

.d3 {
    width: 100%;
    height: auto;
}

.imagen3 {
    width: 555px;
    height: 389px;
    margin: 2rem auto;
    display: block;
}

.contenedor {
    max-width: 600px;
    background: rgba(254, 253, 253, 1);
    padding: 1rem;
    border-radius: 32px;
    margin: 0 auto;
}

.contenedor p {
    font-size: 25px;
    text-align: justify;
}


.ubicacion-section {
    background: rgb(36, 58, 84);
    padding: 2rem 0;
    text-align: center;
    color: white;
}

.ubicacion-section h2, .ubicacion-section h3, .ubicacion-section h4 {
    margin: 0.5rem 0;
}

.mapa {
    width: 555px;
    height: 389px;
    margin: 2rem auto;
    display: block;
}

.contacto-section {
    padding: 2rem 0;
    background-color: rgba(71, 176, 176, 1);
    text-align: center;
}

.formulario {
    background-color: rgba(71, 176, 176, 1); 
    max-width: 600px;
    padding: 2rem;
    border-radius: 1rem;
    margin: 0 auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.formulario fieldset {
    border: none;
}

.campo {
    margin-bottom: 1rem;
}

.campo label {
    color: white;
    font-weight: bold;
    margin-bottom: 0.5rem;
    display: block;
}

.input-text {
    width: 100%;
    padding: 1.5rem;
    border: none;
    border-radius: 0.5rem;
}

textarea.input-text {
    height: 17rem;
}

.boton.enviar {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 1rem 2rem;
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
    font-size: 1rem;
    display: block;
    text-align: center;
    margin-top: 1rem;
}

.footer {
    background-color: rgb(36, 58, 84);
    color: white;
    text-align: center;
    }