*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "open sans-serif";
}

.contenedor{
    padding: 60px 0;
    width: 90%;
    max-width: 1000%;
    margin: auto;
    overflow: hidden;
}

.titulo{
    color:#f1f1f1;
    font-size: 30px;
    text-align: center;
    font-family: 'Space Mono', monospace;
  
    
}

/* header */
header{
    width: 100%;
    height: 1200px;
    background: #000000;  /* fallback for old browsers */
background: -webkit-linear-gradient(to left, #0e0f3699, #84888791), url(../img/portada.jpg);
  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to left, #020c1599, #01152443), url(../img/portada.jpg); 
/* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
 background-size: cover;
 background-attachment: fixed;
 position: relative;
 
}


nav {
    display: flex;
    justify-content: center;
    padding: 30px 50px 0 0;
    background-color: rgba(0, 0, 0, 0.7); /* Fondo semitransparente */
}
nav a {
    color: #fff;
    font-weight: 300;
    text-decoration: none;
    margin-left: 100px;
    font-size: 35%px;
    font-family: 'Space Mono', monospace;
  
    
}
nav a:hover {
    text-decoration: underline;
}



.textos-header {
    text-align: right;
    margin-top: 240px;
    padding-right: 200px;
    font-family: 'Space Mono', monospace;
    
  
}
.textos-header h1 {
    font-size: 60px;
    color: #fff;
}
.textos-header h2 {
    font-size: 30px;
    font-weight: 300;
    color: #fff;
}
.boton {
    display: inline-block;
    padding: 10px 20px;
    margin-top: 40px;
    background: linear-gradient(to right, #1e90ff, #00ced1);
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    border-radius: 5px;
}
.wave{
    position: absolute;
    bottom: 0;
    width: 100%;
  
}

.main {
    background-color: #020d15;
}
.contenedor-sobre-nosotros {
    display: flex;
    margin-top: 60px;
}

.imagen-about-us {
    width: 25%;
  
    margin-right: 90px;

  /*  transform: scale(1.1);
    transition: 5s;
    */
    
}

.sobre-nosotros .contenido-textos {
    text-align: right;
    margin-top: 200px;
    padding-right: 200px;
    font-family: 'Space Mono', monospace;
    justify-content: center;
    
}

.contenido-textos h3 {
    font-size: 30px;
    color: #fff;
}



.contenido-textos p {
    font-size: 25px;
    font-weight: 100;
    color: #fff;
}
   


/* galeria */
.portafolio {
    background: linear-gradient(to right, #0c2d4e, #018b8e);
}

.galeria-port {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 40px;
    
}

.imagen-port {
    width: calc(25% - 10px);
    margin-bottom: 15px;
}

.imagen-port img {
    width: 100%;
    vertical-align: top;
    border-radius: 5px;
    transition: all 0.3s ease;
}

.imagen-port:hover img {
    transform: scale(1.05);
}

/* clientes */

.clientes {
    margin-top: 40px;
}

.cards {
    display: flex;
    justify-content: space-between;
}

.card {
    width: calc(33.33% - 10px);
    background: #fff;
    padding: 60px;
    text-align: center;
    border-radius: 5px;
    margin-bottom: 15px;
    transition: all 0.3s ease;
}

.card img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
  
}

.card:hover {
    transform: translateY(-10px);
}

.card h4, .card h5 {
    color: #333;
    font-size: 20px;
}

.card p {
    color: #777;
    font-size: 30px;
    
}

/* Planes */
.about-services {
    background: linear-gradient(to right, #0c2d4e, #018b8e);
    padding: 50px 0;
}

.about-services .titulo {
    color: #fff;
    font-size: 2.5em;
    text-align: center;
    margin-bottom: 40px;
}

.servicio-cont {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.servicio-ind {
    width: 48%;
    text-align: left;
    border-radius: 10px;
    padding: 50px;
    background-color: #fff;
    margin-bottom: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
    font-family: 'Space Mono', monospace;
  
}

.servicio-ind h3 {
    color: #333;
    font-size: 2rem;
    margin-bottom: 15px;
}

.servicio-ind p {
    color: #555;
    font-size: 1.7rem;
    line-height: 1.6;
}

.servicio-ind:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}
/* footer */
footer {
    padding: 20px;
    background-color: #020c15;
    text-align: center;
}

.titulo-final {
    color: #fff;
    font-size: 24px;
    font-weight: 300;
    font-family: 'Courier New', Courier, monospace;
}