* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
}

#sidebar {
  position: fixed;
  width: 200px;
  height: 100%;
  background: #151719;
  left: -200px;
  transition: all 500ms linear;
}

#sidebar.active {
  left: 0;
}

#sidebar ul li {
  color: rgba(230, 230, 230, 0.9);
  list-style: none;
  padding: 15px 10px;
  border-bottom: 1px solid rgba(100, 100, 100, 0.3);
  text-align: center;
  cursor: pointer;
}

.logo {
  border-radius: 50%;
  display: block;
  margin: 20px auto;
  width: 100px;
  height: auto;
}

#sidebar .toggle-btn {
  position: absolute;
  left: 230px;
  top: 20px;
  cursor: pointer;
}

#sidebar .toggle-btn span {
  display: block;
  width: 40px;
  text-align: center;
  font-size: 30px;
  border: 3px solid #000;
}
.menu-link {
  font-family: Arial, sans-serif;
  font-size: 16px;
  color: rgba(230, 230, 230, 0.9);
  text-decoration: none;
  padding: 15px 10px;
  display: block;
  text-align: center;
  border-bottom: 1px solid rgba(100, 100, 100, 0.3); /* Opcional: borde inferior como los otros elementos */
}
/* inicio */
.flyer-container {
  text-align: center;
 

}

.flyer {
  max-width: 100%;
  height: auto;
  margin: 100px 0 auto 0;

}


/* Ajuste para el elemento inferior */
.bottom-item {
  position: absolute; /* Posición absoluta para colocarlo al final del sidebar */
  bottom: 0; /* Alinear en la parte inferior */
  width: 100%; /* Ocupa todo el ancho del sidebar */
}
.content {
  margin-left: 220px;
  padding: 20px;
}

[data-content] {
  display: none;
}

[data-content].active {
  display: block;
}

article {
  background-color: rgb(248, 240, 217);
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}
h1 {
  text-align: center;
  font-size: 40px;
  color: #333;
  margin-bottom: 20px;
}

article h2 {
  font-size: 16px;
  margin-bottom: 15px;
  color: #333;
  text-align: center;
}

article img {
  display: block;
    max-width: 80%;
    height: auto;
    margin: 0 auto 15px;
    border-radius: 8px;

}


article p {
  font-size: 1.1em;
  line-height: 1.6;
  color: #666;
  text-align: justify;
}

/*cuentas y pagos*/
#cuentas {
  margin-left: 300px;
  padding: 20px;
}

.payment-form {
  width: 600px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.1);
}

.payment-form h2 {
  text-align: center;
}

.payment-form table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}

.payment-form th,
.payment-form td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

.payment-form th {
  background-color: #f2f2f2;
}

.payment-form input[type="text"] {
  width: 100%;
  border: none;
  background: transparent;
  text-align: left;
}

.payment-form .pending {
  color: red;
  font-weight: bold;
}

/* api */
#api {
  padding: 20px;
  background-color: #fff;
  max-width: 800px;
  margin: 20px auto;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}
h1, h2 {
  color: #0fb8ad;
}
p {
  line-height: 1.6;
}
.main_container {
  text-align: center;
  margin-top: 50px;
}
#cat-img-container {
  width: 300px;
  height: 300px;
  margin: 20px auto;
  background-size: cover;
  background-position: center;
  border: 1px solid #ccc;
  border-radius: 10px;
}
#btn-cat {
  border: none;
  outline: none;
  height: 40px;
  background: #0fb8ad;
  color: #fff;
  font-size: 18px;
  border-radius: 20px;
  cursor: pointer;
  transition: background 0.3s ease;
}
#btn-cat:hover {
  background: #099f94;
}


/* reservas*/
#reservas{
  width: 80%;
  margin: 0 auto;
  padding: 20px;
}

.card {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
}

.card img {
  width: 30%;
  height: auto;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.card-content {
  padding: 20px;
  width: 70%;
}

.card h3 {
  margin-top: 0;
}

.card p {
  color: #666;
}

.button {
  background-color: #00bfa5;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.button:hover {
  background-color: #009688;
}

/* directorio */
.conte {
  display: flex;
  align-items: center;
}
.directory {
  background-color: #fdd7a0;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: left;
}
.directory h2 {
  text-align: center;
}
.directory ul {
  list-style: none;
  padding: 0;
}
.directory ul li {
  margin: 10px 0;
}
.image-container {
  margin-left: 20px;
}
.image-container img {
  width: 150px;
  height: auto;
}

/* reuniones  meets */

#reuniones {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  max-width: 800px;
  margin: 0 auto;
}
h1, h2 {
  text-align: center;
}
.agenda {
  list-style: none;
  padding: 0;
}
.agenda li {
  margin: 10px 0;
}
.meeting-access {
  text-align: center;
  margin: 20px 0;
}
.meeting-access img {
  width: 150px;
  height: auto;
  margin-top: 10px;
}